
.header-container {
    .search-panel {
        padding: .4rem .3rem;
        display: flex;
        background: #f57070;
        .avator {
            img {
                width: .7rem;
            }
        }
        .search-input {
            position: relative;
            margin-left: .3rem;
            width: 100%;
            input {
                border: none;
                display: block;
                border-radius: .36rem;
                height: .72rem;
                padding-left: .4rem;
                width: 100%;
            }
        }
    }
    .main-func {
        .funs {
            list-style: none;
            display: flex;
            padding: 0px;
            background: #f57070;
            margin: 0px;
            // border-bottom-right-radius: 40%;
            // border-bottom-left-radius: 40%;
            li {
                display: block;
                flex: 1;
                text-align: center;
                padding: .3rem 0;
                .icon {
                    display: block;
                    svg {
                        width: .5rem;
                        height: .5rem;
                    }
                }
                .txt {
                    display: block;
                    margin-top: .2rem;
                }
            }
        }
    }
    .header-ads {
        position: absolute;
        top: 3.2rem;
        width: 100%;
        padding: 0 .4rem;
        .float-block {
            display: flex;
            width: 100%;
            height: .92rem;
            border-radius: .46rem;
            background: #f71b2d;
            align-items: center;
            padding: 0 .4rem;
            justify-content: space-between;
            img {
                display: block;
                height: 1.32rem;
            }
            span {
                display: block;
                color:#fff;
                line-height: .92rem;
            }
            .btn {
                border: 1px solid #f7f78b;
                line-height: .4rem;
                padding: .1rem .24rem;
                border-radius: .24rem;
                background: #f7f78b;
                color: #000;
            }
        }
    }
}